body {
  font-family: Oswald;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  font-size: 3rem;
  margin: .4rem;
  border: none;
  background-color: rgb(230, 230, 230);
  padding: .5rem 3rem;
  cursor: pointer;
}

button:hover{
  background-color: rgba(194, 194, 194, 0.74);

}